{% extends 'seller_base.html' %}

{% block content %}
</aside>
<div class="bg-white rounded-lg p-6 w-full max-w-5xl shadow-md">
    <h2 class="text-2xl font-semibold text-gray-700 mb-4">Add Variant for {{ product.name }}</h2>
    {% if messages %}
        <ul class="mt-4 text-green-600">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}

        <div class="grid grid-cols-2 gap-4 mb-4">
            <label class="block text-gray-700">Select Attribute Values</label>
            <div class="flex flex-wrap">
                {% for attr in attribute_values %}
                    <label class="inline-block mr-2">
                        <input type="checkbox" name="attribute_values" value="{{ attr.id }}">
                        {{ attr }}
                    </label>
                {% endfor %}
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700">Variant Price</label>
            <input type="text" name="price" class="border border-gray-300 rounded w-full p-2">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700">Variant Stock</label>
            <input type="number" name="stock" class="border border-gray-300 rounded w-full p-2">
        </div>

        <button class="bg-teal-600 text-white p-2 rounded hover:bg-teal-700">Add Variant</button>
        <a href="{% url 'seller_dashboard' %}" class="text-teal-600 hover:text-teal-700">Completed</a>
    </form>
</div>
{% endblock %}