

<main class="container mx-auto px-3 lg:px-0 flex flex-col items-center gap-4 py-8 my-20">
    <h1 class="text-3xl font-semibold">Forgot Password?</h1>
    <p>Enter your E-mail below to receive your password reset instructions.</p>
    <form action="" method="post" class="flex flex-col gap-4 w-full max-w-[600px] mt-8">
        {% csrf_token %} 

        <label for="email" class="flex flex-col">
            <span>Email</span>
            <input type="email" name="email" id="email" class="border border-[#ccc] rounded-md p-2 mt-1" />
        </label>

        <button type="submit"
            class="bg-[#e54c00] hover:bg-[#ED824D] hover:cursor-pointer text-white py-2 px-4 rounded-3xl mt-6 col-span-2">Next</button>

    </form>

</main>


