

<main class="container mx-auto px-3 lg:px-0 flex flex-col items-center gap-4 py-8 my-20">
    <h1 class="text-3xl font-semibold">Reset Password</h1>
    <p>Enter your new password to reset.</p>
    <form action="" method="post" class="flex flex-col gap-4 w-full max-w-[600px]">
        {% csrf_token %} 
        <label for="password" class="flex flex-col">
            <span>New Password</span>
            <input type="password" name="password" id="password" class="border border-[#ccc] rounded-md p-2 mt-1" />
        </label>

        <label for="confirm-password" class="flex flex-col">
            <span>Confirm Password</span>
            <input type="password" name="confirm-password" id="confirm-password"
                class="border border-[#ccc] rounded-md p-2 mt-1" />
        </label>

        <button type="submit"
            class="bg-[#e54c00] hover:bg-[#ED824D] hover:cursor-pointer text-white py-2 px-4 rounded-3xl mt-8 col-span-2">Confirm</button>

    </form>

</main>

