
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - Sentimart</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-white min-h-screen flex flex-col">
    <header class="bg-[#4a8287] h-12 w-full"></header>
    {% if messages %}
        {% for message in messages %}
            <p style="color:red">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <main class="flex flex-1 justify-center items-center px-6">
        <div class="max-w-6xl w-full flex flex-col md:flex-row items-center md:items-start gap-10 md:gap-0.5">
            <div class="flex justify-center md:justify-start w-full md:w-1/2"> <a href="{% url 'landing_page' %}"><img 
                    src="{% static 'images/logo2.png' %}"
                    alt="Sentimart logo with stylized wave design above the text" class="w-60 mt-24 ml- h-auto" /></a></div>

<main class="container mx-auto px-3 lg:px-0 flex flex-col items-center gap-4 py-8 my-20">
    <h1 class="text-3xl font-semibold">Reset Password</h1>
    <p>Enter your new password to reset.</p>
    <form action="" method="post" class="flex flex-col gap-4 w-full max-w-[600px]">
        {% csrf_token %} 
        <label for="password" class="flex flex-col">
            <span>New Password</span>
            <input type="password" name="password" id="password" class="border border-[#ccc] rounded-md p-2 mt-1" />
        </label>

        <label for="confirm-password" class="flex flex-col">
            <span>Confirm Password</span>
            <input type="password" name="confirm-password" id="confirm-password"
                class="border border-[#ccc] rounded-md p-2 mt-1" />
        </label>

        <button type="submit"
            class="w-full bg-[#4a8287] text-white py-3 rounded-lg text-base font-normal hover:bg-[#3b6a6f] transition-colors">Confirm</button>

    </form>

</main>

</div>
    </main>
</body>

</html>
