# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore all Django migration files except __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# Ignore SQLite database (optional)
db.sqlite3

media