{% extends './buyer_base.html' %}
{% load static %}


{% block content %}
<h1 class="text-3xl font-bold mb-4 text-center">Products in {{ category.name }}</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for product in products %}
        <div class="bg-white rounded-lg shadow-md p-4">
            <a href="{% url 'product-detail' product.id %}" class="block group hover:no-underline">
                <h3 class="text-lg font-medium mb-2">{{ product.name }}</h3>
                <p class="text-gray-600 mb-4">₹{{ product.price }}</p>
                <img src="{{ product.image.url }}" class="w-full h-56 object-cover rounded-lg group-hover:scale-110 transition duration-300" alt="{{ product.name }}">
            </a>
            <div class="flex items-center justify-between mt-4">
                <a href="{% url 'product-detail' product.id %}" class="inline-block px-4 py-1 border border-transparent rounded-md text-sm font-medium text-white bg-teal-600 hover:bg-teal-700">View</a>
                <!-- <a href="{% url 'add-to-cart' product.id %}" class="inline-block px-4 py-1 border border-transparent rounded-md text-sm font-medium text-white bg-green-500 hover:bg-green-600">Add to Cart</a> -->
            </div>
        </div>
    {% empty %}
        <p class="text-center text-gray-600">No products found in this category.</p>
    {% endfor %}
</div>


{% endblock %}