{% extends './buyer_base.html' %}
{% block content %}

<h2 class="text-xl font-bold mb-4 text-center">My Orders</h2>
<div class="flex space-x-4 mb-6 justify-center items-center">
    <a href="{% url 'orders' %}" class="px-4 py-2 rounded {% if current_status == 'all' %}bg-[#4C888E] text-white{% else %}bg-gray-200{% endif %}">All Orders</a>
    <a href="{% url 'orders' %}?status=Delivered" class="px-4 py-2 rounded {% if current_status == 'delivered' %}bg-[#4C888E] text-white{% else %}bg-gray-200{% endif %}">Delivered</a>
    <a href="{% url 'orders' %}?status=cancelled" class="px-4 py-2 rounded {% if current_status == 'cancelled' %}bg-[#4C888E] text-white{% else %}bg-gray-200{% endif %}">Cancelled</a>
</div>
{% for order in orders %}
  <div class="border p-4 rounded mb-4">
    <p><strong>Order ID:</strong> {{ order.id }}</p>
    <p><strong>Status:</strong> {{ order.get_status_display }}</p>
    <p><strong>Date:</strong> {{ order.created_at }}</p>
    <p><strong>Total:</strong> ₹{{ order.total_price }}</p>

    <ul class="mt-2">
      {% for item in order.items.all %}
        <li class="border-t pt-2 mt-2">
          <strong>{{ item.product.name }}</strong><br>
          Quantity: {{ item.quantity }}<br>
          Price: ₹{{ item.price }}
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'track_order' order.id %}">
    <button class="mt-2 bg-[#4C888E] text-white px-4 py-1 rounded">Track Order</button>
    </a>
    <a href="{% url 'view_invoice' order.id %}" class="text-blue-500 underline">Invoice</a>
  </div>
{% empty %}
  <p>No orders yet.</p>
{% endfor %}


{% endblock %}