{% extends './agent_base.html' %}
{% load static %}
{% block content %}
<div class="flex space-x-4 mb-6 justify-center items-center">
    <a href="{% url 'delivery_requests' %}" class="px-4 py-2 rounded bg-[#4C888E] text-white ">Delivery Requests</a>
    <a href="{% url 'delivery_requests' %}" class="px-4 py-2 rounded bg-[#4C888E] text-white ">Pending Delivery</a>
    <a href="{% url 'delivery_requests' %}" class="px-4 py-2 rounded bg-[#4C888E] text-white ">Completed Delivery</a>
</div>
{% for order in orders %}
  <div>
    <h4>Order #{{ order.id }} - {{ order.user.username }}</h4>
    <p>Status: {{ order.status }}</p>
    
    {% if order.status == "Shipped" %}
      <form action="{% url 'accept_order' order.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Accept</button>
      </form>
      
      <form action="{% url 'reject_order' order.id %}" method="post">
        {% csrf_token %}
        <textarea name="issue_reason" placeholder="Reason for rejection" required></textarea>
        <button type="submit">Reject</button>
      </form>
    {% elif order.status == "About to Deliver" %}
      <form action="{% url 'mark_delivered' order.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Mark as Delivered</button>
      </form>
    {% endif %}
  </div>
{% empty %}
  <p>No assigned orders.</p>
{% endfor %}
</div>

{% endblock %}